# Copy this file to .env and fill in values for local development.

# Default DSS Instance
# Note: this instance takes precendece over the `default_instance` defined in .dataiku/config.json
DKU_INSTANCE_NAME="dev-dss"
DKU_DSS_URL=https://your-instance.dataiku.com
DKU_NO_CHECK_CERTIFICATE=false # Set to true/1 to skip SSL verification
DKU_API_KEY=your-api-key

DKU_DEFAULT_CONNECTION=filesystem_managed
DKU_DEFAULT_FOLDER_CONNECTION=filesystem_folders
DKU_DEFAULT_LLM=openai:<YOUR_CONNECTION_NAME>:gpt-5.4
DKU_DEFAULT_EMBEDDING_LLM=openai:<YOUR_CONNECTION_NAME>:text-embedding-3-small

# MCP Server Configuration
DKU_MCP_MAX_WORKERS=4
