{
  "default_instance": "dev",
  "dss_instances": {
    "dev": {
      "url": "https://dev.dataiku.com",
      "api_key": "your-dev-api-key",
      "no_check_certificate": false
    },
    "prod": {
      "url": "https://prod.dataiku.com",
      "api_key": "your-prod-api-key",
      "no_check_certificate": false
    }
  }
}
